@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100    ;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;  
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home{
    height: 100vh;
    background: url(../img/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    z-index: 1;
}

.home-content {
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0; 
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    color: #00abf0;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: black;
    z-index: 1;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 700px;
    height: 100%;
    background: transparent;
    transition: 2.5s;
}

.home-imgHover:hover{
    background: black;
    opacity: .7;
}

.about{
    height: 100vh;
    background: url(../img/about.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    z-index: 1;
}

.about-content {
    max-width: 600px;
}

.about-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.about-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0; 
}

.about-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.about-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.about-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.about-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    color: #00abf0;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
}

.about-sci a:hover{
    color: black;
    z-index: 1;
}
.about-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.about-sci a:hover::before{
    width: 100%;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 75px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    margin-bottom: 15px;
}

.radio-group label {
    margin-right: 20px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    padding-top: 100px;
    margin-top: 0;
}

.image-container {
    margin-bottom: 20px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.topic{
    height: 100vh;
    background: url(./img/League_of_Legends.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 1;
    margin-top: 85px;
}

.logos{
    margin-right: auto;
    margin-left: 1%;
    float:left;
    width: 38px;
    height: 38px;
    }
    
    .textoh1{
        text-align: center;
        color: black;
        font-weight: 100;
        margin-right: 25px;
        margin-top: 90px;
    }
    
    .tabla1{
        align-items: center;
        width: auto;
        margin-left: 27%;
     }
    .tabla2{
        align-items: center;
        width: auto;
        margin-left: 20%;
    }
    .sep{
      font-size: 5px;
    }
    
    .foundations{
      padding: 0%;
      width: 200px;
      height: 200px;
    }
    
    .description{
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
    }
    footer{
        display: inline-block;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color: rgb(110, 111, 112);
        font-size: 12px;
        text-align: center;
    }

    .degree{
        height: 100vh;
        background: url(../img/fondodegree.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 0 27.5%;
        z-index: 1;
    }
    
    .degree-content {
        max-width: 600px;
    }
    
    .degree-content h1{
        font-size: 45px;
        font-weight: 700;
        line-height: 1.2;
        color: black;
        text-align: center;
    }
    
    .degree-content h3{
        font-size: 32px;
        font-weight: 700;
        color: #00abf0; 
        text-align: center;
    }
    
    .degree-content .btn-box{
        display: flex;
        justify-content: space-between;
        width: 600px;
        height: 50px;
    }

    .textocv h1{
        color: black;
        margin-left: 20px;
    }

    .textocv h2{
        color: black;
        margin-left: 20px;
    }

    .textocv h3{
        color: black;
        margin-left: 20px;
    }

    .textocv p{
        color: black;
        margin-left: 20px;
    }

    .textocv ul{
        list-style-type: none;
        padding: 0;
        margin-left: 20px;
        color: black;
    }

    .textocv li{
        margin-bottom: 8px;
        margin-left: 20px;
        color: black;
    }

    .textocv hr{
        border: 1px solid #ddd;
        margin: 20px 0;
        color: black;
    } 

    .topic .botones{
        display: flex;
        justify-content: space-between;
        width: 475px;
        height: 50px;
    }
    
    .topic .botones a{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 8px;
        font-size: 19px;
        color: black;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
    }
    
    .topic .botones a:hover{
        color: #00abf0;
    }
    
    .topic .botones a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: black;
        z-index: -1;
        transition: .5s;
    }
    
    .topic .botones a:hover::before{
        width: 100%;
    }

    .textocontroversy{
        width: 100%;
        height: 100vh;
        background-image: url(../img/fondocontroversy.jpg);
        background-color: rgb(105, 105, 105);
        background-size: cover;
        margin-top: 88px;
        text-align: right;
        
        padding-right: 10px;
      }

      .mitextoconfondo{
        color: white;
        text-justify: auto;
        background-color: #9a9a9a;
        margin-left: 68.5%;
        height: 100%;
      }

      .mitextoconfondo2{
        text-align: justify;
        background-color: #9a9a9a;
        margin-left: 68.5%;
        height: 50%;
      }

      .mitextoconfondo3{
        color: white;
        text-align: justify;
        background-color: #9a9a9a;
        margin-left: 68.5%;
        height: 87%;
      }

      .net{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 100px;
        text-align: center;
        font-weight: bolder;
        text-decoration: none;
        font-size: 20px;
        color: black;
        height: 100%;
      }
      .webs{
        text-decoration: none;
        color: black;
      }
      .pagsweb{
        width: 45%;
        float: left;
        margin: 20px;
        display: flex;
        align-items: center;
      }